body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf7f2;
  font-family: Arial, sans-serif;
}

/* Card style */
.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 20px;
  background-color: #fff8e1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* Image */
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Text container */
.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Title */
.card-content h3 {
  font-size: 1.4rem;
  color: #5a3e1b;
}

/* Paragraphs */
.card-content p {
  font-size: 1rem;
  color: #6e4c2f;
}

.price {
  align-self: flex-end;
  margin-left: auto;
  font-weight: bold;
  font-size: 1.1rem;
  color: #5a3e1b;
  display: block;
  justify-self: end;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  align-self: center;
  background-color: #fbc02d;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
}

button:hover {
  background-color: #f9a825;
}
